<settings>
	<category label="VIP Account Login">
		<setting id="usernamefshare" type="text" label="Username [COLOR gold]VIP Account[/COLOR]"/>
		<setting id="passwordfshare" type="text" option="hidden" label="Password [COLOR gold]FShare[/COLOR]"/>
		<setting id="cred" type="text" visible="False"/>
		<setting id="hash" type="text" visible="False"/>
	</category>
	<category label="Misc">
	<setting id="GSheetURL" type="text" label="Google Spreadsheet URL" default="https://docs.google.com/spreadsheets/d/1xWV-lKLlOza1EuvWbTXpWi39cCfzlxzSvfjMUiudHLc/edit?fbclid=IwAR0yx0maLC8mOBzHVTSC_C4jADIoBY-cKeVZ153XvnBAPgGNMYy4bBoIfBM#gid=0"/>
	<setting id="thumbview" type="bool" label="Auto use thumbnail view (for future use)" default="false"/>
	</category>
</settings>